<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Création d'une tâche</h1>

    <form action="/todo/create" method="post">
      <input type="text" name="" placeholder="titre" /> *<br />

      <input type="text" name="description" value="" placeholder="description" /><br />

      <input type="datetime" name="deadline" value="" placeholder="date limite" /><br />

      <input type="checkbox" name="done" value="1" /><br />

      <input type="submit" value="valider" class="btn btn-success" /><br />
    </form>
  </body>
</html>
